anyio==4.12.1
beautifulsoup4==4.14.3
boto3==1.35.76
botocore==1.35.76
bs4==0.0.2
CacheControl==0.14.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.0
cppcheck==1.5.1
cryptography==46.0.3
feedparser==6.0.12
firebase_admin==7.2.0
google-api-core==2.30.0
google-auth==2.48.0
google-cloud-core==2.5.0
google-cloud-firestore==2.23.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.78.0
grpcio-status==1.78.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
jmespath==1.0.1
markdown-it-py==4.2.0
mdurl==0.1.2
msgpack==1.1.2
numpy==2.4.6
openvino==2026.1.0
openvino-telemetry==2025.2.0
pandas==3.0.3
proto-plus==1.27.1
protobuf==6.33.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
Pygments==2.20.0
PyJWT==2.11.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rich==15.0.0
rsa==4.9.1
s3transfer==0.10.4
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.8.1
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.2.3
wheel==0.47.0
zipp==3.23.0
